/*  Sections
-------------------------------------------------------------------- */
/* 	Benefits  */

#benefits{
	padding: 4em 0 0;
	text-align: center;
	font-family: "Lato";
	h2 {
		color: #009be8;
		font-weight: 300;
	}
	p{
		color: #9d9d9d;
		font-size: 1.2em;
	}
	.scale-with-grid{
		margin-left: 60px;
	}
}



